.logobar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

.logobar-text-xll {
  font-size: 28px;
  line-height: 28px;
}
.logobar-icon-container {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  margin: 0 -5px;
}

.logobar-text {
  font-weight: 700;
}
.logobar-text-sm {
  font-size: 28px;
  line-height: 28px;
}
.logobar-text-md {
  font-size: 36px;
  line-height: 36px;
}
.logobar-text-md {
  font-size: 72px;
  line-height: 72px;
}
.logobar-text-xl {
  font-size: 100px;
  line-height: 100px;
}
